@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/public/scss/_shared.scss";

@layer base {
  :root {
    --font-display: "Poppins", sans-serif;
    --font-body: "Open Sans", sans-serif;

    --theme-cyan-50: #eff9ff;
    --theme-cyan-100: #def3ff;
    --theme-cyan-200: #b6e9ff;
    --theme-cyan-300: #75d9ff;
    --theme-cyan-400: #2cc6ff;
    --theme-cyan-500: #00a7eb;
    --theme-cyan-600: #008cd4;
    --theme-cyan-700: #0070ab;
    --theme-cyan-800: #005e8d;
    --theme-cyan-900: #064e74;
    --theme-cyan-950: #04324d;

    --theme-yellow-50: #fffceb;
    --theme-yellow-100: #fff6c6;
    --theme-yellow-200: #ffefa1;
    --theme-yellow-300: #ffda4a;
    --theme-yellow-400: #ffc820;
    --theme-yellow-500: #f9a607;
    --theme-yellow-600: #dd7e02;
    --theme-yellow-700: #b75806;
    --theme-yellow-800: #94430c;
    --theme-yellow-900: #7a370d;
    --theme-yellow-950: #461c02;
  }

  html,
  body {
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-body), system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    @apply text-gray-600;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  .arrow-number-none {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    appearance: none !important;
    margin: 0 !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
